*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    background-image: url('https://img.freepik.com/vetores-premium/wallpaper-de-paisagem-em-design-plano_74890-37.jpg?w=996') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body{
    display: flex;
    justify-content: center;
}

/* todo - header */

.todo-container{
    background-color: #d4e0e0;
    margin: 5% auto;
    max-width: 500px;
    border-radius: 10px;
    padding: 1.5rem;
}

.todo-container header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

button{
    background-color: #0031a3;
    color: #d1930e;
    border: 1px solid #dfa62b;
    border-radius: 6px;
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
button:hover{
    background-color: #e0e0e0;
    border: 1px solid #dfa62b;
}

input, select{
    padding: 0.35rem 1rem;
    border-radius: 5px;
    border: 1px solid #5a6e7a;
}

.hide{
    display: none;
}


/* Form's  */

#todo-form, #edit-form{
    border-bottom: 1px solid #ccc;
    padding: 1rem;
}

#todo-form p,
#edit-form p{
    margin-bottom: .5rem;
    font-weight: bold;
}

.form-control{
    display: flex;
}

.form-control input{
    margin-right: 0.3rem;
}

.cancel-edit-btn{
    margin-top: 1rem;
}


/* toolbar */

#toolbar{
    padding: 1rem;
    display: flex;
    border-bottom: 1px solid #ccc;
}

#toolbar h4{
    margin-bottom: .5rem;
}

#toolbar input{
    margin-right: 0.4rem;
}

#search{
    border-right: 1px solid #DDD;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form{
    display: flex;
}

#search input{
    width: 100%;
    margin-right: 0.3rem;
}

#filter{
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select{
    flex: 1;
}

.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #DDD;
    transition: 0.3s;
}

.todo h3{
    flex: 1;
    font-size: 0.9rem;
}

.todo button{
    margin-left: 0.3rem;
}

/* todo pronto  */

.done{
    background-color: #5a6e7a;
    border-radius: 5px;
}

.done h3{
    font-weight: 400;
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}